.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
}

.logoText {
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: -0.5px;
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}